<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title><%title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/javascripts/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/stylesheets/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/stylesheets/ie8.css" /><![endif]-->
    <script src="/socket.io/socket.io.js"></script>
</head>
<body class="landing">

<div id="page-wrapper">
    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/">Chamber</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#one">My Chambers</a></li>
                <li><button id="signoutBtn" class="button" onclick="location.href='/api/logout'">Sign Out</button></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2><%=chamber[0].chamber_name%></h2>
                <p>화상 대화 진행중</p>
            </header>
            <div class="vertical">
                <div class="">
                    <!-- Video -->
                    <section class="content">
                        <section>
                            <h3>VIDEO</h3>
                        </section>
                    </section>
                </div>
                <div class="">
                    <!-- Chat -->
                    <section class="content">
                        <section>
                            <h3>CHAT</h3>
                            <div class="msg">

                            </div>
                            <div>
                                <textarea name="message" id="message" placeholder="Enter your message"></textarea>
                            </div>
                            <div>
                                <ul class="actions">
                                    <li><input type="submit" value="Send Message" class="special" /></li>
                                </ul>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Redpoint. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
</div>

<!-- Scripts -->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/jquery.scrolly.min.js"></script>
<script src="/javascripts/js/jquery.dropotron.min.js"></script>
<script src="/javascripts/js/jquery.scrollex.min.js"></script>
<script src="/javascripts/js/skel.min.js"></script>
<script src="/javascripts/js/util.js"></script>
<!--[if lte IE 8]><script src="/javascripts/js/ie/respond.min.js"></script><![endif]-->
<script src="/javascripts/js/main.js"></script>
<script>
    var socket = io.connect();
    var ROOM = "<%=chamber[0].chamber_id%>";
    socket.emit('ready', {"chat_room": ROOM});

</script>

</body>
</html>
