<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

<div class="page-header">
    <h1 class="main_font">
        <a href="/">
            Chamber
        </a>
    </h1>
    <h3>
        create, share and discuss your everythings
    </h3>
    <textarea class="authToken"></textarea>
    <h4 id="userEmail"></h4>
    <button id="signoutBtn">Sign Out</button>
    <a href="/chamber/new">new Chamber Create</a>
</div>
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-2 sidenav">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1">All</a></li>
                <li><a href="#section2">Work</a></li>
                <li><a href="#section3">Study</a></li>
                <li><a href="#section3">Friends</a></li>
            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Chamber..">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
        </div>

        <div class="col-md-8">
            <form action="/chamber/new" method="post" id="newChamberForm">
                Chamber Name : <input type="text" name="chamber_name" placeholder="Chamber Name" required>
                Description Chamber : <input type="text" name="chamber_des" placeholder="Description Chamber">

                <input type="submit" value="CreateChamber">
            </form>
        </div>
    </div>
</div>

<script src="/javascripts/vendor/jquery-3.1.0.js"></script>
<script src="/javascripts/vendor/bootstrap.min.js"></script>
<script src="/javascripts/vendor/aws-cognito-sdk.min.js"></script>
<script src="/javascripts/vendor/amazon-cognito-identity.min.js"></script>
<script src="/javascripts/config.js"></script>
<script src="/javascripts/cognito-auth.js"></script>
<script src="/javascripts/check-authToken.js"></script>

</body>
</html>
