<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title><%title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="/javascripts/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/stylesheets/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/stylesheets/ie8.css" /><![endif]-->
</head>
<body class="landing">

<div id="page-wrapper">
    <!-- Header -->
    <header id="header">
        <h1 id="logo"><a href="/">Chamber</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#one">What is Chamber?</a></li>
                <li><a href="/#">About Us</a></li>
                <li><button id="signoutBtn" class="button">Sign Out</button></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Chamber List</h2>
                <p>나의 체임버를 보고, 생성하고, 입장하고</p>
            </header>
            <div class="row 150%">
                <div class="3u 12u$(medium)">
                    <!-- Sidebar -->
                    <section id="sidebar">
                        <section>
                            <h3>My Profile</h3>
                            <a href="#" class="image fit"><img src="/images/pic01.jpg" alt="프로필 사진누락" /></a>
                            <p>안녕하세요. 저는 이런 사람입니다.</p>
                            <textarea class="authToken"></textarea>
                            <h4 id="userEmail"></h4>

                        </section>
                        <hr />
                        <section>
                            <a href="#" class="image fit"><img src="/images/pic06.jpg" alt="" /></a>
                            <h3>My News</h3>
                            <p>내 소식?</p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="#" class="button">Learn More</a></li>
                                </ul>
                            </footer>
                        </section>
                    </section>
                </div>

                <div class="8u$ 12u$(medium) important(medium)">
                    <!-- Content -->
                    <section id="content">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <a href="/chamber/new">
                                    <div class="panel-heading">New Chamber</div></a>
                                <div class="panel-body">만들기</div>
                            </div>

                            <%
                                for(var i=0;i<rows.length;i++){
                            %>
                            <div class="panel panel-default">
                                <a href="#">
                                    <div class="panel-heading"><%=rows[i].chamber_name%></div></a>
                                <div class="panel-body"><%=rows[i].chamber_des%></div>
                            </div>
                            <%
                                }
                            %>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Redpoint. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>
</div>

<!-- Scripts -->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/jquery.scrolly.min.js"></script>
<script src="/javascripts/js/jquery.dropotron.min.js"></script>
<script src="/javascripts/js/jquery.scrollex.min.js"></script>
<script src="/javascripts/js/skel.min.js"></script>
<script src="/javascripts/js/util.js"></script>
<!--[if lte IE 8]><script src="/javascripts/js/ie/respond.min.js"></script><![endif]-->
<script src="/javascripts/js/main.js"></script>


</body>
</html>
