<title><%= title %></title>
<meta charset="UTF-8">
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link href="/stylesheets/stack/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/socicon.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/flickity.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/theme.css" rel="stylesheet" type="text/css" media="all" />
<link href="/stylesheets/stack/custom.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Chamber</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#one">What is Chamber</a></li>
                <li><a href="#two">How to Use</a></li>
                <li><a href="#three">About Us</a></li>
                <% if (profile != undefined) {
                %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><%= profile[0].user_nickname %><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/user/chamberlist">Go to Chamber</a></li>
                        <li><a href="/api/logout">Sign Out</a></li>
                    </ul>
                </li>
                <% }
                else{ %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log
                        in<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/auth/google">Google Login</a></li>
                        <li><a href="/auth/facebook">Facebook Login</a></li>
                    </ul>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
