<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title><%title%></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="/javascripts/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <!--[if lte IE 9]><link rel="stylesheet" href="/stylesheets/ie9.css" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="/stylesheets/ie8.css" /><![endif]-->
</head>
<body class="landing">
<div id="page-wrapper">

  <!-- Header -->
  <header id="header">
    <h1 id="logo"><a href="/">Chamber</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#one">What is Chamber?</a></li>
        <li><a href="/#">About Us</a></li>
      </ul>
    </nav>
  </header>


  <!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h2>아직 가입 안하셨어요?</h2>
        <br />
      </header>

      <img src = "images/sign-in-with-google.png" onclick="location.href='/auth/google'" alt = "Google login" style="width: 250px; height: 60px;"/>
      <img src = "images/facebook-login.png" onclick="location.href='/auth/facebook'" alt = "Facebook login" style="width: 250px; height: 60px;"/>

    </div>

    <a href="#one" class="goto-next scrolly">Next</a>
  </section>

  <!-- One -->
  <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="images/pic02.jpg" alt="" /></span>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="4u 12u$(medium)">
            <header>
              <h2>What is Chamber?</h2>
              <p>관계를 지배하는 마법의 공간, 체임버</p>
            </header>
          </div>
          <div class="4u 12u$(medium)">
            <p><b>실시간 커뮤니케이션</b> 도구 체임버는 혼자, 둘이서, 함께 하는 공간입니다. N:M 화상대화를 지원하며
              동시에 페어 에디팅 도큐먼트도 작성합니다.<br />
              가능하냐구요?<br />
              <b>마법의 공간 체임버</b>에서는 가능합니다.</p>
          </div>
          <div class="4u$ 12u$(medium)">
            <p><b>언제 어디에 있어도,</b> 당장 눈앞에서 얘기하는 것처럼 이야기를 시작하세요!
              <b>모든게 과거로 지나가버렸어도,</b> 우리가 대신 기록해둘게요!
              <b>이게그냥뭐라딱말할순없어도 너무좋은데 '말'로만은 설명이 안되어도,</b> 유용한 도구들을 활용해보세요!</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
  </section>

  <!-- Two -->
  <section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="images/pic03.jpg" alt="" /></span>
    <div class="content">
      <header>
        <h2>WebRTC로 화상 대화를 </h2>
        <p>설치? 필요도 없습니다.<br/>당장 시작하기만 해요. </p>
      </header>
      <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
  </section>

  <!-- Three -->
  <section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="images/pic04.jpg" alt="" /></span>
    <div class="content">
      <header>
        <h2>페어 에디팅</h2>
        <p>어느세월에 합치나요?<br/>
          같이 작업하세요.</p>
      </header>
      <p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
      <ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
      </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
  </section>

  <!-- Four -->
  <section id="four" class="wrapper style1 special fade-up">
    <div class="container">
      <header class="major">
        <h2>In Magical Chamber</h2>
        <p>Everythings (you want) is here.</p>
      </header>
      <div class="box alt">
        <div class="row uniform">
          <section class="4u 6u(medium) 12u$(xsmall)">
            <span class="icon alt major fa-area-chart"></span>
            <h3>Make</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="4u 6u$(medium) 12u$(xsmall)">
            <span class="icon alt major fa-comment"></span>
            <h3>Talk</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="4u$ 6u(medium) 12u$(xsmall)">
            <span class="icon alt major fa-flask"></span>
            <h3>Create</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="4u 6u$(medium) 12u$(xsmall)">
            <span class="icon alt major fa-paper-plane"></span>
            <h3>Ship</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="4u 6u(medium) 12u$(xsmall)">
            <span class="icon alt major fa-file"></span>
            <h3>History</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
          <section class="4u$ 6u$(medium) 12u$(xsmall)">
            <span class="icon alt major fa-lock"></span>
            <h3>Anything</h3>
            <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
          </section>
        </div>
      </div>
      <footer class="major">
        <ul class="actions">
          <li><a href="#" class="button">Get Started</a></li>
        </ul>
      </footer>
    </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Redpoint. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

</div>

<!-- Scripts -->
<script src="/javascripts/js/jquery.min.js"></script>
<script src="/javascripts/js/jquery.scrolly.min.js"></script>
<script src="/javascripts/js/jquery.dropotron.min.js"></script>
<script src="/javascripts/js/jquery.scrollex.min.js"></script>
<script src="/javascripts/js/skel.min.js"></script>
<script src="/javascripts/js/util.js"></script>
<!--[if lte IE 8]><script src="/javascripts/js/ie/respond.min.js"></script><![endif]-->
<script src="/javascripts/js/main.js"></script>

</body>
</html>
