<!DOCTYPE HTML>
<html>
<head>
    <% include header.ejs %>
</head>
<body>

<!-- Banner -->
<div class="jumbotron" id="#">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="/images/pic01.jpg">
            </div>
            <div class="col-lg-6">
                <h2>회원가입</h2>
                <br/>
                <div>
                    <button class="btn btn-lg btn-danger" onclick="location.href='/auth/google'">Google 회원가입</button>
                    <button class="btn btn-lg btn-primary" onclick="location.href='/auth/facebook'">Facebook 회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Magical Chamber</h3>
        <div class="row">
            <div class="col-md-4">
                <h4>One</h4>
                <p>asdf</p>
            </div>
            <div class="col-md-4">
                <h4>Two</h4>
                <p>asdf</p>
            </div>
            <div class="col-md-4">
                <h4>Three</h4>
                <p>asdf</p>
            </div>
        </div>
    </div>
    <a href="#one">Next</a>
</div>
<hr>

<div class="container" id="one">
    <h1>What is Chamber?</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>마법의 공간 체임버</h2>
            <p><b>실시간 커뮤니케이션</b> 도구 체임버는 혼자, 둘이서, 함께 하는 공간입니다. N:M 화상대화를 지원하며
                동시에 페어 에디팅 도큐먼트 작성합니다.</p>
        </div>
        <div class="col-md-4">
            <h2>WebRTC</h2>
            <p>explain...</p>
        </div>
        <div class="col-md-4">
            <h2>언제 어디에 있어도,</h2>
            <p>당장 눈앞에서 얘기하는 것처럼 이야기를 시작하세요! <br/>모든게 과거로 지나가버렸어도, 우리가 대신 기록해둘게요!
                <b>이게그냥뭐라딱말할순없어도 너무좋은데 '말'로만은 설명이 안되어도,</b> 유용한 도구들을 활용해보세요!</p>
        </div>
    </div>
    <a href="#two">Next</a>
</div>
<hr>

<div class="container" id="two">
    <h1>How to Use</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Step1</h2>
            <p>~한다.</p>
        </div>
        <div class="col-md-4">
            <h2>Step2</h2>
            <p>~한다.</p>
        </div>
        <div class="col-md-4">
            <h2>Step3</h2>
            <p>~한다.</p>
        </div>
    </div>
    <a href="#two">Next</a>
</div>
<hr>

<div class="container" id="three">
    <h1>We are</h1>
    <h3>Team Redpoint | SW Maestro 8th</h3>
    <div class="row">
        <div class="col-md-4">
            <img src="/images/pic01.jpg">
            <h2>김민경</h2>
            <p>자세한 설명</p>
        </div>
        <div class="col-md-4">
            <img src="/images/pic01.jpg">
            <h2>이지윤</h2>
            <p>자세한 설명</p>
        </div>
        <div class="col-md-4">
            <img src="/images/pic01.jpg">
            <h2>임현지</h2>
            <p>자세한 설명</p>
        </div>
    </div>
    <a href="#">위로</a>
</div>
<hr>

<% include footer.ejs %>

</body>
</html>