<!DOCTYPE HTML>
<html lang="kr">
<head>
    <% include header.ejs %>
</head>
<body class=" " data-smooth-scroll-offset='180'>
    <a id="start"></a>

    <!-- Navigation Bar Start -->
    <div class="nav-container ">

        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav id="menu2" class="bar bar-2 hidden-xs bar--transparent bar--absolute" data-scroll-class='90vh:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 text-center text-left-sm hidden-xs col-md-push-5">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-pull-2">
                        <div class="bar__module">
                            <ul class="menu-horizontal text-left">
                                <li>
                                    <span><a class="inner-link" href="#start" data-scroll-class="100vh:active" style="all:unset">Home</a></span>
                                </li>
                                <li>
                                    <span><a class="inner-link" href="#about" data-scroll-class="100vh:active" style="all:unset">About</a></span>
                                </li>
                                <li>
                                    <span><a class="inner-link" href="#feature" data-scroll-class="100vh:active" style="all:unset">Features</a></span>
                                </li>
                                <li>
                                    <span><a class="inner-link" href="#pricing" data-scroll-class="100vh:active" style="all:unset">Pricing</a></span>
                                </li>
                                <!--
                                <li class="dropdown dropdown--hover">
                                    <span class="dropdown__trigger">Dropdown</span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 col-md-2 dropdown__content">
                                                    <h5>Select an option</h5>
                                                    <ul class="menu-vertical">
                                                        <li>
                                                            <a href="#">Create</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Manage</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Share</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Logout</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="#">
                                        <span class="btn__text">
                                            Free Trial
                                        </span>
                            </a>
                            <% if (profile != undefined) { %>
                            <a class="btn btn--sm btn--primary type--uppercase inner-link" href="/user/chamberlist" data-scroll-class="100vh:active">
                                <span class="btn__text">
                                    Let's Go!
                                </span>
                            </a>
                            <% } else { %>
                            <a class="btn btn--sm btn--primary type--uppercase inner-link" href="#start" data-scroll-class="100vh:active">
                                <span class="btn__text">
                                    Sign In
                                </span>
                            </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navigation Bar End -->

    <!-- Main Page Start -->
    <div class="main-container">
        <!-- Title Page Start -->
        <section class="cover height-90 videobg text-center" data-overlay="2" id="home">
            <div class="youtube-background" data-video-url="QRsVn_6zaxI" data-start-at="1"></div>
            <div class="container pos-vertical-center" style="z-index: 10">
                <div class="row">
                    <div class="col-sm-8">
                        <img alt="Image" class="unmarg--bottom" src="img/headline-1.png" />
                        <div class="typed-headline">
                            <br>
                            <span class="h3 inline-block">Magical Chamber &mdash; The perfect tool for</span>
                            <span class="h3 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="group chatting, international meeting, personal archiving"></span>
                        </div>
                        <a class="btn btn--icon bg--facebook" href="/auth/facebook">
                            <span class="btn__text">
                                <i class="socicon socicon-facebook"></i>
                                Join with Facebook
                            </span>
                        </a>
                        <a class="btn btn--icon bg--googleplus" href="/auth/google">
                            <span class="btn__text">
                                <i class="socicon socicon-google"></i>
                                Join with Google
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Title Page End -->

        <!-- Advertisement Start -->
        <section class="text-center cta cta-4 space--xxs border--bottom ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="label label--inline">HIT!</span>
                        <span>코리아 블랙 프라이데이! Magical Chamber Premium을 최대 33% 할인된 가격으로 만나보세요!</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Advertisement End -->

        <!-- About Start -->
        <section class="text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>시공간을 뛰어넘은 만능 회의실, Magical Chamber</h2>
                        <p class="lead">
                            <em>Magical Chamber</em> 는 협업에 가장 최적화 된 실시간 커뮤니케이션 도구입니다. <br>
                            팀 프로젝트, 조별 과제와 같이 협업이 필요한 상황에 팀원과 함께 Chamber를 구성해 보세요. <br>
                            Chamber에서는 화상 채팅을 통해 멀리 떨어져있는 팀원과 마주보고 있는 것처럼 대화하고, 공동 작업 툴을 이용해 함께 작업을 진행할 수 있습니다!
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature">
                            <img alt="Image" src="img/about-1.jpg" class="border--round" />
                            <h4>Easy to Join</h4>
                            <p>
                                Google 또는 Facebook 아이디를 가지고 있다면 10초만에 회원가입을 마칠 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature">
                            <img alt="Image" src="img/about-2.jpg" class="border--round" />
                            <h4>User Groups</h4>
                            <p>
                                팀 프로젝트, 조별 과제, 동아리, 소모임 등 다양한 용도의 Chamber를 구성하고 모임을 가질 수 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature">
                            <img alt="Image" src="img/about-3.jpg" class="border--round" />
                            <h4>Free trial</h4>
                            <p>
                                화상 대화, 채팅, 파일 공유, 실시간 페어 워크 툴 등 다양한 기능이 무료로 제공됩니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <div class="cta">
                            <h2>Magical Chamber for <em>Premium users</em></h2>
                            <a class="btn btn--primary type--uppercase" href="#">
                                        <span class="btn__text">
                                            Purchase Now
                                        </span>
                                <span class="label">$17 USD</span>
                            </a>
                            <p class="type--fine-print">$17 per month(VAT 별도) </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About End -->

        <!-- Features Start -->
        <section class="bg--secondary" id="feature">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature">
                            <i class="icon icon-Sidebar-Window color--primary"></i>
                            <h4>Real-time webcam chatting</h4>
                            <p>
                                멀리 떨어져 있어도 문제없어요! Magical Chamber는 WebRTC기술을 응용해 딜레이가 거의 없는 ‘almost real time’화상 통화를 제공합니다. 공간을 넘어서 팀원과 자유롭게 소통해 보세요.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature">
                            <i class="icon icon-Duplicate-Window color--primary"></i>
                            <h4>Sharing Tools</h4>
                            <p>
                                아이디어를 글이나 그림으로 보여주고 싶을 때가 있죠? Chamber안에 마련된 공동 문서와 공동 캔버스를 이용해 생각하는 그대로를 표현할 수 있습니다. Sharing Tool은 작성된 글과 그림을 다른 유저의 화면에 실시간으로 똑같이 표현해 줍니다.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature">
                            <i class="icon icon-Code-Window color--primary"></i>
                            <h4>Cloud Storage Service</h4>
                            <p>
                                회의 때 사용한 파일이 보이지 않나요? 당신의 Chamber가 간직하고 있을 거예요! Chamber내에서 주고받은 파일은 자동으로 해당 Chamber의 클라우드 스토리지에 저장되어 언제든 원하는 때에 다시 내려받을 수 있습니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features End -->

        <!-- Pricing Start -->
        <section class="text-center" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                        <h2>Pricing Plans</h2>
                        <p class="lead">
                            Magical Chamber Premium은 각 Chamber에 한층 업그레이드 된 기능을 제공합니다.<br>
                            결제는 매달 초에 이뤄지며 언제든 원하는 때에 해지할 수 있습니다.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pricing-section-2 text-center ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-offset-2 col-md-4">
                        <div class="pricing pricing-3">
                            <div class="pricing__head bg--secondary boxed">
                                <h5>Free</h5>
                                <span class="h1">
                                            <span class="pricing__dollar">$</span>0</span>
                                <p class="type--fine-print">Per Month, AUD.</p>
                            </div>
                            <ul>
                                <li>
                                    <span>상시 접속 가능</span>
                                </li>
                                <li>
                                    <span>화상 통화</span>
                                </li>
                                <li>
                                    <span>최대 1GB 저장소</span>
                                </li>
                                <li>
                                    <span>공동 작업 도구 (basic)</span>
                                </li>
                            </ul>
                        </div>
                        <!--end pricing-->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="pricing pricing-3">
                            <div class="pricing__head bg--primary boxed">
                                <span class="label">Value</span>
                                <h5>Premium</h5>
                                <span class="h1">
                                            <span class="pricing__dollar">$</span>17</span>
                                <p class="type--fine-print">Per Month</p>
                            </div>
                            <ul>
                                <li>
                                    <span>상시 접속 가능</span>
                                </li>
                                <li>
                                    <span>화상 통화</span>
                                </li>
                                <li>
                                    <span>최대 10GB 저장소</span>
                                </li>
                                <li>
                                    <span>공동 작업 도구 (Pro)</span>
                                </li>
                                <li>
                                    <span>24시 고객지원센터</span>
                                </li>
                                <li>
                                    <span>최대 2주 채팅 기록 저장</span>
                                </li>
                            </ul>
                        </div>
                        <!--end pricing-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing End -->

        <% include footer.ejs %>

    </div>
    <!-- Main Page End -->

</body>
</html>