<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="page-home">
  <header class="site-header">
    <h1 class="title">Magical Chamber</h1>
    <nav class="site-nav">
         <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/">What is Chamber?</a></li>
           <li><a href="/chamber">Go to Magical Place Chamber</a></li>
           <li><a href="/">About Us</a></li>
         </ul>
    </nav>
    <button type="button" class="btn-menu"><span>Menu</span></button>

  <div class="home-button">
    <a href="/users">register/signin</a>
  </div>
  </header>

  <section class="kraken-callout">
    <div class="row">
      <div class="columns medium-6 xxlarge-4 xxlarge-offset-2">
        <img src="images/commingsoon.jpg">
      </div>

      <div class="columns medium-6 xlarge-5 xxlarge-4">
        <h4 class="title">Coming Soon</h4>
        <p class="content">
          기다려주세요. 계속 바뀔 예정이니까요,...
        </p>
      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="row column">
      <nav class="footer-nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="chamber.html">What is Chamber?</a></li>
          <li><a href="mypage.html">Go to Magical Place Chamber</a></li>
          <li><a href="investors.html">About Us</a></li>
          <li><a href="unicorns.html">Something Crazy</a></li>
        </ul>
      </nav>
    </div>

    <div class="row column">
      <div class="footer-legal">
        &copy;REDPOINT in SWMaestro<br>
      </div>
    </div>
  </footer>

  <script src="/javascripts/vendor/jquery-3.1.0.js"></script>
  <script src="/javascripts/vendor/bootstrap.min.js"></script>
  <script>
      "use strict";
      ! function() {
          var n = $("html"),
              t = function() {
                  $(".btn-menu").on("click", function(t) {
                      t.preventDefault(), n.toggleClass("menu-opened")
                  })
              },
              e = function() {
                  t()
              };
          e()
      }();
  </script>
  </body>
</html>
