<!DOCTYPE HTML>
<html lang="kr">
<head>
    <% include ../header.ejs %>
</head>

<body class=" " data-smooth-scroll-offset='180'>
    <a id="start"></a>

    <% if (profile != undefined) { %>
    <!-- Navigation Bar Start -->
    <div class="nav-container ">

        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3 col-sm-2">
                        <a href="/">
                            <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
                        </a>
                    </div>
                    <div class="col-xs-9 col-sm-10 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                            <i class="icon icon--sm stack-interface stack-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav id="menu1" class="bar bar-2 hidden-xs bar--absolute" data-scroll-class='90vh:pos-fixed'>
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-2 hidden-xs">
                        <div class="bar__module">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="/img/logo-dark.png" />
                                <img class="logo logo-light" alt="logo" src="/img/logo-light.png" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11 col-sm-12 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <a class="btn btn--sm type--uppercase" href="/user/profile">
                                        <span class="btn__text">
                                            Edit Profile
                                        </span>
                            </a>
                            <a class="btn btn--sm btn--primary type--uppercase" href="/api/logout">
                                        <span class="btn__text">
                                            Sign Out
                                        </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

    </div>
    <!-- Navigation Bar End -->
    <% } else { %> window.location.href = '/'; <% } %>

    <!-- Main Page Start -->
    <div class="main-container">
        <!-- Heading Start -->
        <section class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-md-8">
                        <br>
                        <h2>Hello, <%= profile[0].user_nickname %>!<br>Here's your Chamber List.</h2>
                        <p class="lead">
                            블라블라 챔버 만들어라 블라블라 챔버 만들어라 블라블라 챔버 만들어라 블라블라 챔버 만들어라 블라블라 챔버 만들어라
                        </p>
                        <a class="btn btn--primary type--uppercase" href="newchamber">
                            <span class="btn__text">
                                Create New Chamber
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Heading End -->

        <!-- Chamber List Start-->
        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-block">
                            <h3>Current Openings</h3>
                        </div>
                    </div>
                    <% for (var i = 0; i < chambers.length; i++) { %>
                    <div class="col-sm-4">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <span class="label">Owner</span>
                            <h4><%= chambers[i].chamber_name %></h4>
                            <hr>
                            <p><%= chambers[i].chamber_des %></p>
                            <a class="btn btn--primary" href="/chamber/<%= chambers[i].chamber_id %>/"><span class="btn__text">Go into this Chamber!</span>
                            </a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Chamber List End -->

        <!-- Making Chamber Instruction Start -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-block">
                            <h3>Instructions</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 col-md-offset-2">
                        <div class="wizard bg--white">
                            <h5>Welcome</h5>
                            <section class="text-center">
                                <div class="pos-vertical-center">
                                    <img alt="pic" src="/img/about-1.jpg" />
                                    <h4>Welcome, let's go over the basics!</h4>
                                    <p class="type--fade type--fine-print">
                                        * Use the next button, or your keyboard arrows to advance
                                    </p>
                                </div>
                            </section>
                            <h5>Media</h5>
                            <section class="text-center">
                                <div class="pos-vertical-center">
                                    <img alt="pic" src="/img/about-1.jpg" />
                                    <h4>Add your own media using the media browser.</h4>
                                    <p class="type--fade type--fine-print">
                                        * Use the sidebar and click "Add Media"
                                    </p>
                                </div>
                            </section>
                            <h5>Device Guide</h5>
                            <section class="text-center">
                                <div class="pos-vertical-center">
                                    <img alt="pic" src="/img/about-1.jpg" />
                                    <h4>Test your site on different devices using Device Guide</h4>
                                    <p class="type--fade type--fine-print">
                                        * The device guide is located in the sidebar
                                    </p>
                                </div>
                            </section>
                            <h5>Begin</h5>
                            <section class="text-center">
                                <div class="pos-vertical-center">
                                    <img alt="pic" src="/img/about-1.jpg" />
                                    <h4>You're all set — Click 'Finish' to get started</h4>
                                    <p class="type--fade type--fine-print">
                                        * Find more help articles under "Help" in the sidebar
                                    </p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Making Chamber Instruction End -->

        <% include ../footer.ejs %>

    </div>
    <!-- Main Page End -->

</body>

</html>