<!DOCTYPE HTML>

<html>
<head>
    <% include ../header.ejs %>
</head>
<body>
<div class="container">
    <header class="major">
        <h2>My Profile</h2>
        <p>프로필 수정</p>
    </header>
    <div class="row 150%">
        <div class="3u 12u$(medium)">

        </div>

        <div class="8u$ 12u$(medium) important(medium)">
            <!-- Content -->
            <section id="content">
                <div class="col-md-8">
                    <form action="/user/profile/imgupload" enctype="multipart/form-data" method="post">
                        <input type="file" name="img_files[]" accept="image/*">
                        <button type="submit">Submit</button>
                    </form>
                    <hr/>
                    <form action="/user/profile/update" method="post" id="updateProfileForm" class="container 50%">
                        <div class="6u 12u$(xsmall)">
                            닉네임: <input type="text" name="user_nickname" placeholder="<%= profile[0].user_nickname %>"
                                        required><br/>
                        </div>
                        <div class="6u 12u$(xsmall)">
                            자기소개: <input type="text" name="user_des" placeholder="<%= profile[0].user_des %>"><br/>
                        </div>
                        <div class="4u$ 12u$(xsmall)">
                            <input type="submit" value="닉네임 수정">
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<% include ../footer.ejs %>
</body>
</html>
